<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pop Quiz</title>
  <link rel="stylesheet" href="./assets/css/styles.css">
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Acme|Black+And+White+Picture|Dokdo|Gugi|Stylish" rel="stylesheet">
  <style>
  body {
    background-color: slateblue;
  }
  p, h2 {
    color: white;
    font-size: 25px;
    font-family: 'Stylish', sans-serif;
  }
  .jumbotron {
    color: lavender;
    background-color: black;
    padding: 20px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
    text-align: center;
    font-size: 100px;
    /* font-family: 'Gugi', cursive; */
    font-family: 'Black And White Picture', sans-serif;
    /*font-family: 'Black And White Picture', sans-serif;
    font-family: 'Acme', sans-serif;
    font-family: 'Dokdo', cursive; */
  }
  .col-md-3, .col-md-6 {
    text-align: center;
    padding: 20px;
  }
  button {
    font-family: 'Stylish', sans-serif;
    font-size: 20px;
    margin: 20px 0px 0px 0px;
    padding: 15px 20px 15px 20px;
    border-radius: 20px;
    background-color: lightseagreen;
    color: white;
    border-width: 2px;
  }
</style>
</head>
<body>
  {{{ body }}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="./public/assets/js/friends.js"></script>
</body>
</html>