<div class="container">
    <div class="jumbotron">POP QUIZ
    </div>
    <div class="row">
        <div class="col-md-3">
            <button><a href="/quiz">TAKE THE QUIZ</a></button>
            <button>LOGIN</button>
        </div>
        <div class="col-md-9">
            <p>Upon completing the questions in this "pop quiz", you will be able to access several different comparisons.</p> 
            <p>You may choose to compare your results with other users, but there are also pop culture filters.</p>
            <p>Apply as many filters as you want! Find out which Friends character you are most like! Etcetera!</p>
        </div>
    </div>
</div>
