<div class="container">
    <div class="jumbotron">POP QUIZ
    </div>
        <div class="row">
            <h2>1.You feel most comfortable when you are alone.</h2><br>
        </div>
        <div class="row">
            <h2>2.You would rather be praised than respected.</h2><br>
        </div>
        <div class="row">
            <h2>3.You would rather be kind than strictly correct.</h2><br>
        </div>
        <div class="row">
            <h2>4.You move on from disappointments quickly.</h2><br>
        </div>
        <div class="row">
            <h2>5.You avoid confrontation whenever possible.</h2><br>
        </div>
        <div class="row">
            <h2>6.You would rather be a thoughtless doer than an actionless thinker.</h2><br>
        </div>
        <div class="row">
            <h2>7. You are usually quick to speak up when something isn't right.</h2><br>
        </div>
        <div class="row">
            <h2>8.In most situations, you believe the ends justify the means.</h2><br>
        </div>
        <div class="row">
            <h2>9.Overall, you believe in the basic goodness of mankind.</h2><br>
        </div>
        <div class="row">
            <h2>10.You are easily swayed by differing opinions.</h2><br>
        </div>
    </div>
</div>