<div class="container">
    <div class="jumbotron">POP QUIZ
    </div>
    <div class="row">
        <div class="col-md-3">
            <button><a href="/quiz">TAKE THE QUIZ</a></button>
            <button>LOGIN</button>
        </div>
        <div class="col-md-9">
            <ul>
            {{#each results}}
            <li>{{name}}</li>
            {{/each}}
            </ul>
        </div>
    </div>
</div>
